/* ==========================================================================
   #BUTTONS
   ========================================================================== */

.u-btn {
  color: $color-white;
  background: $color-bg-blue-4;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 25px;
  border-radius: 6px;
  text-decoration: none;
  transition: $default-transition;
  font-weight: 600;
  white-space: nowrap;
  text-align: center;

  @include bp(large) {
    &:hover {
      background: $color-bg-blue-5;
    }
  }
}

.u-btn--mobile-wider {
	@extend .u-btn;
	padding: 12px 37px;

	@include bp(large) {
		padding: 12px 23px;
	}
}
