
/* ==========================================================================
   #IMAGES
   ========================================================================== */

/**
 * 1. Aspect ration images
 * 
 */

//  .ratio-0-7 {
//     display: block;
//     // padding-top: 74%;
//     position: relative;
  
//     .ratio-0-7--image {
//         position: absolute;
//         left: 0;
//         top: 0;
//         object-fit: cover;
//         margin: 0;
//         overflow: hidden;
//     }

// }

.img-fluid {
   max-width: 100%;
   height: auto;
   width: 100%;
}
  