/* ==========================================================================
   #TYPOGRAPHY & COLORS & FONT WEIGHTS & LINE HEIGHTS
   ========================================================================== */

/**
 * Font Colors
 */

.color-primary {
  color: $color-text;
}

.color-lightblue {
  color: $color-text-blue-4;
}

.color-white {
  color: $color-text-white;
}

/**
 * Font Weights
 */

.f-300 {
  	font-weight: 300;
}

.f-400 {
  	font-weight: 400;
}

.f-600 {
  	font-weight: 600;
}

.f-700 {
	font-weight: 700;
}

/**
 * Line Heights
 */
.line-lg {
  line-height: 2.33;
}

.line-big {
  line-height: 1.7;
}

.line-reset {
  line-height: 1;
}

/**
 * Letter Spacing
 */
.letter-spacing-sm {
  letter-spacing: -1px;
}
