// @font-face {
//     font-family: 'Gilroy Light';
//     src: url('/wp-content/themes/peaforme/src/fonts/Gilroy-Light.woff') format('woff'),
//          url('/wp-content/themes/peaforme/src/fonts/Gilroy-Light.woff2') format('woff2');
//     font-weight: normal;
//     font-style: normal;
// }
