// ==========================================================================
// # CERTIFICATES ROW (ABBINDER) / PARTIAL
// ==========================================================================


.certificates-row__wrapper {
	background-color: $color-bg-blue-2;
	padding: 20px 0 35px 0;

	@include bp(large) {
		padding: 40px 0 45px 0;
	}
}

.certificates-row__title {
	margin-bottom: 14px;
}

.certificates-row__container {
	flex-direction: column;

	@include bp(large) {
		flex-direction: row;
	}
}

.certificates-row__content {
	width: 100%;
	margin-bottom: 25px;

	@include bp(large) {
		width: 40%;
		margin-bottom: 0;
		padding-right: 20px;
	}

	@include bp(xlarge) {
		width: 49%;
	}
}

.certificates-row__items {
	width: 100%;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0 15px;

	@include bp(large) {
		margin: -15px 0;
		padding: 0;
		width: 60%;
	}
	
	@include bp(xlarge) {
		margin: 0;
		width: 51%;
	}
}

.certificates-row__image {
	display: flex;
	justify-content: center;
	width: calc(50% - 20px);
	max-height: 125px;
	margin: 15px 10px;

	@include bp(large) {
		margin: 15px 10px 15px 10px;
		max-height: 150px;
	}

	@include bp(xlarge) {
		width: unset;
		max-width: calc(25% - 26px);
		margin: 0 13px;
	}
}

.certificates-row__img {
	height: 100%;
	width: auto;
	max-width: 100%;
}

.certificates-row__copy {
	p {
		margin-bottom: 17px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}
