// ======================================================================================================================
// # STANDARD DROPDOWN (AKKORDEON FLIESSTEXT BILD) / PARTIAL
// ======================================================================================================================

.standard-dropdown__wrapper {
	margin-bottom: 60px;

	@include bp(large) {
		margin-bottom: 90px;
	}
}

.standard-dropdown__tab {
	margin-bottom: 35px;

	&:last-child {
		margin-bottom: 0;
	}
}

.standard-dropdown__oblique {
	margin: 0 -20px;
	position: relative;

	@include bp(medium) {
		margin: 0;
	}

	@include bp(xlarge) {
		cursor: pointer;
	}
}

.standard-dropdown__box {
	display: flex;
	padding: 20px 20px;
	background-color: $color-bg-blue-2;
	justify-content: space-between;
	align-items: center;
	width: 100%;

	@include bp(medium) {
		width: calc(100% - 20px);
	}

	@include bp(large) {
		display: block;
	}
}

.standard-dropdown__headline {
	padding-right: 20px;

	@include bp(medium) {
		padding-right: 50px;
	}

	@include bp(large) {
		padding-right: 0;
		max-width: 710px;
	}
}

.standard-dropdown__arrow {
	transition: $default-transition;
	transform: rotate(0);
	align-self: flex-end;

	@include bp(large) {
		position: absolute;
		top: 12px;
		right: 50px;
		align-self: unset;
	}
}

.standard-dropdown__svg {
	width: 20px;
	height: 30px;

	@include bp(medium) {
		width: 26px;
		height: 41px;
	}
}

.standard-dropdown__triangle {
	display: none;
	max-width: 20px;

	@include bp(medium) {
		display: block;
	}

	svg {
		display: block;
		height: 100%;
		width: 100%;
	}

	polygon {
		fill: $color-bg-blue-2;
	}
}

.standard-dropdown__content {
	padding-top: 25px;
	display: none;

	@include bp(large) {
		padding-top: 20px;
	}	
}

.standard-dropdown__flex {
	justify-content: center;

	@include bp(large) {
		justify-content: unset;
	}
}

.standard-dropdown__image {
	order: 2;
	width: 100%;

	@include bp(large) {
		order: 0;
		width: 49%;
	}
}

.standard-dropdown__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.standard-dropdown__copy {
	order: 0;
	margin-bottom: 25px;
	width: 100%;

	@include bp(large) {
		order: 2;
		width: 51%;
		padding-left: 20px;
		margin-bottom: 0;
	}
}

.standard-dropdown__segment {
	padding-top: 25px;
}

.standard-dropdown__row {
	@include bp(large) {
		margin: 0 -10px;
	}
}

.standard-dropdown__column {
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin-bottom: 40px;

	&:last-child {
		margin-bottom: 0;
	}

	@include bp(large) {
		width: calc(33.33% - 20px);
		margin: 0 10px;
	}
}

.standard-dropdown__icon {
	margin-bottom: 25px;

	svg {
		display: block;
		width: 85px;
		height: 92px;
	}
}

// Tabs Modifiers

.standard-dropdown--revert {
	.standard-dropdown__image {
		@include bp(large) {
			order: 2;
		}
	}

	.standard-dropdown__copy {
		@include bp(large) {
			order: 0;
			padding-left: 0;
			padding-right: 20px;
		}
	}
}

.standard-dropdown--image-small {
    .standard-dropdown__image {
        @include bp(large) {
			width: 32%;
        }
    }

	.standard-dropdown__copy {
        @include bp(large) {
			width: 68%;
        } 
    }
}
