// ======================================================================================================================
// # CONTACT DROPDOWN (Akkordeon Standorte) / PARTIAL
// ======================================================================================================================

.contact-dropdown__wrapper {
	margin-bottom: 60px;

	@include bp(large) {
		margin-bottom: 90px;
	}
}

.contact-dropdown__tab {
	margin-bottom: 35px;

	&:last-child {
		margin-bottom: 0;
	}
}

.contact-dropdown__oblique {
	margin: 0 -20px;
	position: relative;

	@include bp(medium) {
		margin: 0;
	}

	@include bp(xlarge) {
		cursor: pointer;
	}
}

.contact-dropdown__box {
	display: flex;
	padding: 20px 20px;
	background-color: $color-bg-blue-2;
	justify-content: space-between;
	align-items: center;
	width: 100%;

	@include bp(medium) {
		width: calc(100% - 20px);
	}

	@include bp(large) {
		display: block;
	}
}

.contact-dropdown__headline {
	padding-right: 20px;

	@include bp(medium) {
		padding-right: 50px;
	}

	@include bp(large) {
		padding-right: 0;
		max-width: 710px;
	}
}

.contact-dropdown__arrow {
	transition: $default-transition;
	transform: rotate(0);
	align-self: flex-end;

	@include bp(large) {
		position: absolute;
		top: 12px;
		right: 50px;
		align-self: unset;
	}
}

.contact-dropdown__svg {
	width: 20px;
	height: 30px;

	@include bp(medium) {
		width: 26px;
		height: 41px;
	}
}

.contact-dropdown__triangle {
	display: none;
	max-width: 20px;

	@include bp(medium) {
		display: block;
	}

	svg {
		display: block;
		height: 100%;
		width: 100%;
	}

	polygon {
		fill: $color-bg-blue-2;
	}
}

.contact-dropdown__content {
	padding-top: 30px;
	display: none;	
}

.contact-dropdown__flex {
	@include bp(medium) {
		margin: -30px;
	}

	@include bp(large) {
		margin: -10px;
	}
}

.contact-dropdown__column {
	width: 100%;
	margin-bottom: 40px;

	@include bp-down(medium) {
		&:last-child {
			margin-bottom: 0;
		}
	}

	@include bp(medium) {
		width: calc(50% - 60px);
		margin: 30px;
	}
	
	@include bp(large) {
		width: calc(25% - 20px);
		margin: 10px;
	}
}

.contact-dropdown__copy {
	p {
		margin-bottom: 20px;
	}
}

.contact-dropdown__line {
	display: block;
}

.contact-dropdown__link {
	color: $color-text-blue-4;
	text-decoration: underline;
}
