// ==========================================================================
// # ANNOUNCEMENT LIST (AKTUELLES BAUSTEIN) / PARTIAL
// ==========================================================================


.announcement-list__wrapper {
    margin-bottom: 40px;

    @include bp(medium) {
        margin-bottom: 50px;
    }
     
    @include bp(large) {
        margin-bottom: 70px;
    }
}

.announcement-list__top {
    display: flex;
    align-items: center;
    padding: 0 0 10px 0;

    @include bp(medium) { 
        padding: 0 30px 20px 30px;
    }
}

.announcement-list__svg {
    width: 45px;
    height: 45px;

    svg {
        width: 100%;
        height: 100%;
    }

    @include bp(medium) {
        width: 70px;
        height: 70px;
    }
}

.announcement-list__header {
    padding-left: 15px;

    @include bp(medium) {
        padding-left: 40px;
    }
}

.announcement-list__bottom {
    border-top: 3px solid $color-border-blue-2;
    border-bottom: 3px solid $color-border-blue-2;
    padding: 20px 0 30px 0;
    flex-direction: column;

    @include bp(medium) {
        border-top: 7px solid $color-border-blue-2;
        border-bottom: 7px solid $color-border-blue-2;
    }

    @include bp(large) {
        padding: 20px 0 25px 0;
        flex-direction: row;
    }
}

.announcement-list__content {
    width: 100%;
    margin-bottom: 26px;
	padding-right: 13px;

    @include bp(large) {
        width: 65%;
        margin-bottom: 0;
    }
}

.announcement-list__content__title {
    margin-bottom: 15px; 
}

.announcement-list__copy {
    margin-bottom: 16px;

    p {
        margin-bottom: 16px;

        &:last-child { 
            margin-bottom: 0;
        }

        @include bp(xlarge) {
            margin-bottom: 20px;
        }
    }

    @include bp(large) {
        margin-bottom: 0;
    }
}

.announcement-list__more {
    display: inline-block;
    position: relative;
    padding-left: 22px;

    @include bp(large) {
        padding-left: 0;
    }

    @include bp(xlarge) {
        cursor: pointer;
    }
}

.announcement-list__more::after {
    content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 25.4.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Ebene_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 6.6 3.9' style='enable-background:new 0 0 6.6 3.9;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;stroke:%2300ADF0;stroke-width:1.2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;%7D%0A%3C/style%3E%3Cpolyline class='st0' points='5.9,0.6 3.3,3.3 0.7,0.6 '/%3E%3C/svg%3E%0A");
    position: absolute;
    left: 0;
    width: 14px;
    height: 9px;

    @include bp(large) {
        left: unset;
        right: -20px;
        top: 0;
    }
}

.announcement-list__benefits {
	width: 100%;

	@include bp(large) {
		width: 35%;
	}
}

.announcement-list__elements {
	margin: 0;
	padding: 0 0 0 22px;
}

.announcement-list__item {
	position: relative;
	margin-bottom: 10px;
	
	&:last-child {
		margin-bottom: 0;
	}
}

.announcement-list__item::before {
	content: url("data:image/svg+xml,%3Csvg viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.1897 9.4072C3.85437 9.4072 3.68671 9.23953 3.35138 9.07187L0.668749 6.22157C0.165756 5.71858 0.165756 5.04792 0.668749 4.54493C1.17174 4.04194 1.8424 4.04194 2.34539 4.54493L4.35737 6.5569L10.2256 0.688646C10.7286 0.185653 11.3993 0.185653 11.9023 0.688646C12.4053 1.19164 12.4053 1.8623 11.9023 2.36529L5.19569 9.07187C4.86036 9.23953 4.52503 9.4072 4.1897 9.4072Z' fill='%2326ABE0'/%3E%3C/svg%3E%0A");
	position: absolute;
	left: -22px;
	width: 16px;
	height: 16px;
	top: 2px;
}
