// ==========================================================================
// # BENEFITS (Baustein: Verbände) / PARTIAL
// ==========================================================================

.u-benefits__wrapper {
	margin-bottom: 60px;

	@include bp(large) {
		margin-bottom: 90px;
	}
}

.u-benefits__oblique {
	margin: 0 -20px;

	@include bp(medium) {
		margin: 0 -40px;
	}

	@include bp(large) {
		margin: 0;
	}
}

.u-benefits__box {
	width: 100%;
	padding: 20px 20px 30px 20px;
	background-color: $color-bg-blue-2;
	
	@include bp(large) {
		width: calc(100% - 40px);
		padding: 20px 80px 25px 20px;
		
	}
}

.u-benefits__triangle {
	display: none;	

	@include bp(large) {
		display: block;
		max-width: 40px;
	}

	svg {
		display: block;
		height: 100%;
		width: 100%;
	}

	polygon {
		fill: $color-bg-blue-2;
	}
}

.u-benefits__title {
	margin-bottom: 25px;

	@include bp(large) {
		margin-bottom: 14px;
	}
}

.u-benefits__segment {
	flex-direction: column;

	@include bp(large) {
		flex-direction: row;
		align-items: flex-end;
	}
}

.u-benefits__text {
	margin-bottom: 30px;

	@include bp(large) {
		margin-bottom: 0;
	}
}

.u-benefits__cta {
	justify-content: center;

	@include bp(medium) {
		justify-content: unset;
	}
}

.u-benefits__list {
	margin: 0;
	padding: 25px 0 30px 0;
}

.u-benefits__item {
	position: relative;
	margin-bottom: 12px;
	padding-left: 30px;

	&:last-child {
		margin-bottom: 0;
	}

	@include bp(medium) {
		padding-left: 50px;
	}
}

.u-benefits__item::before {
	content: url("data:image/svg+xml,%3Csvg width='21' height='16' viewBox='0 0 21 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.17139 8.64517L7.01389 13.8216L19.2036 1.4649' stroke='%2326ABE0' stroke-width='2.654' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
	position: absolute;
	top: 2px;
	left: 0;

	@include bp(medium) {
		left: 12px;
	}
}

.u-benefits__contact {
	@include bp(medium) {
		padding-left: 12px;
	}
}
