// ======================================================================================================================
// # SVG CARDS (BAUSTEIN DOWNLOAD, BELIEBTESTE PRODUKTE) / PARTIAL
// ======================================================================================================================

.svg-cards__wrapper {
    margin-bottom: 30px;

    @include bp(medium) {
        margin-bottom: 20px;
    }

	@include bp(large) {
        margin-bottom: 50px;
    }
}

.svg-cards__row {
	flex-direction: column;
	
	@include bp(small) {
		align-items: center;
	}

	@include bp(large) {
		align-items: unset;
		flex-direction: row;
		margin: 0 -10px;
	}
}

.svg-cards__column {
	width: 100%;
	margin-bottom: 30px;

	@include bp(small) {
		width: 260px;
	}

	@include bp(medium) {
		width: 400px;
		margin-bottom: 50px;
	}

	@include bp(large) {
		width: calc(33.33% - 20px);
		margin: 0 10px 40px 10px;
	}
}

.svg-cards__top {
	position: relative;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 150px;
	padding-bottom: 25px;
	transition: $default-transition;
}

.svg-cards__svg {
	position: relative;
	z-index: $z-lvl-1;
}

.svg-cards__bg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: $default-transition;
}

.svg-cards__oblique {
	position: relative;
	margin-top: -25px;
	margin-bottom: 10px;

	@include bp(large) {
        margin-bottom: 15px;
    }
}

.svg-cards__box {
    background-color: $color-bg-blue-4;
    width: calc(100% - 45px);
	transition: $default-transition;
}

.svg-cards__triangle {
	max-width: 20px;

	@include bp(large) {
		max-width: 25px;
	}

	svg {
		display: block;
		height: 100%;
		width: 100%;
	}

	polygon {
		fill: $color-gray-3;
		transition: $default-transition;
	}
}

.svg-cards__content {
	position: relative;
	padding: 10px 20px;
	z-index: $z-lvl-1;
}

.svg-cards__title {
	margin-bottom: 0;
	transition: $default-transition;

	@include bp(small) {
		text-align: center;
	}
	
	@include bp(large) {
		text-align: left;
	}	
}

// Modifiers

.svg-cards--download {
	.svg-cards__column {
		@include bp(xlarge) {
			&:hover {
				.svg-cards__bg {
					opacity: 1;
				}

				.svg-cards__box {
					background-color: $color-bg-blue-5;
				}

				.svg-cards__btn {
					text-decoration: underline;
				}

				.svg-cards__triangle {
					polygon {
						fill: $color-bg-blue-5;
					}
				}
			}
		}
	}

	.svg-cards__bg {
		background: linear-gradient(-73deg, rgba(219,228,238,1) 19%, rgba(235,238,238,1) 19%, rgba(219,228,238,1) 90%);
	}

	.svg-cards__box {
		width: calc(100% - 40px);

		@include bp(small) {
			width: calc(100% - 13px);
		}

		@include bp(large) {
			width: calc(100% - 40px);
		}
	}

	.svg-cards__triangle {
		max-width: 13px;

		polygon {
			fill: $color-bg-blue-4;
		}
	}

	.svg-cards__desc {
		padding-left: 20px;

		@include bp(small) {
			text-align: center;
			padding-left: 0;
		}

		@include bp(large) {
			max-width: 270px;
			padding-left: 20px;
			text-align: left;
		}
	}

	.svg-cards__text {
		margin-bottom: 10px;
	}

	.svg-cards__btn {
		position: relative;
		
		@include bp(large) {
			padding-left: 14px;
		}
	}

	.svg-cards__btn::before {
		content: url("data:image/svg+xml,%3Csvg width='7' height='11' viewBox='0 0 7 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.00586 10.0599L5.53281 5.53299L1.00586 1.17371' stroke='%2300ADF0' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
		position: absolute;
		display: none;
		left: 0;
		top: 0;

		@include bp(large) {
			display: block;
		}
	}
}

.svg-cards--produkte {
	.svg-cards__main__title {
		margin-bottom: 14px;
		
		@include bp(medium) {
			margin-bottom: 35px;
		}	
	}

	.svg-cards__container {
		margin: 0 -20px;

		@include bp(medium) {
			margin: 0 -40px;
		}
		
		@include bp(large) {
			margin: 0 auto;
		}
	}

	.svg-cards__row {
		flex-direction: column;
		
		@include bp(small) {
			align-items: center;
		}
	
		@include bp(large) {
			align-items: unset;
			flex-direction: row;
			margin: 0 -10px;
		}
	}

	.svg-cards__column {
		width: 100%;
		margin-bottom: 30px;

		@include bp(small) {
			width: 400px;
		}
	
		@include bp(medium) {
			margin-bottom: 50px;
		}
	
		@include bp(large) {
			width: calc(33.33% - 20px);
			margin: 0 10px 40px 10px;
		}
	}

	.svg-cards__segment {
		@include bp(xlarge) {
			&:hover {
				.svg-cards__bg {
					background: linear-gradient(-73deg, $color-blue-10 19%, $color-blue-9 21%);
					opacity: 1;
				}

				.svg-cards__box {
					background-color: $color-bg-blue-3;
					box-shadow: 0px -4px 10px $transparent-black-2;
				}

				.svg-cards__title,
				.svg-cards__copy {
					color: $color-text-white;
				}

				.svg-cards__triangle {
					polygon {
						fill: $color-bg-blue-3;
					}
				}
			}
		}
	}

	.svg-cards__top {
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 150px;
		padding-bottom: 25px;
	}

	.svg-cards__bg {
		background: linear-gradient(-73deg, $color-blue-8 19%, $color-blue-7 21%);
		opacity: 1;
	}

	.svg-cards__box {
		background-color: $color-bg-blue-2;
	}

	.svg-cards__triangle {
		max-width: 20px;

		@include bp(large) {
			max-width: 25px;
		}

		polygon {
			fill: $color-bg-blue-2;
		}
	}

	.svg-cards__content {
		position: relative;
		padding: 10px 30px 20px 20px;
		z-index: $z-lvl-1;
	}

	.svg-cards__title {
		text-align: left;
		margin-bottom: 5px;

		@include bp(medium) {
			margin-bottom: 10px;
		}
	}

	.svg-cards__copy {
		display: block;
		transition: $default-transition;
	}

	.svg-cards__list {
		padding-left: 40px;
		margin: 0;

		@include bp(large) {
			padding-left: 20px;
		}
	}

	.svg-cards__item {
		position: relative;
		margin-bottom: 10px;
		
		&:last-child {
			margin-bottom: 0;
		}

		@include bp(large) {
			max-width: 240px;
		}
	}

	.svg-cards__item::before {
		content: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.1897 9.4072C3.85437 9.4072 3.68671 9.23953 3.35138 9.07187L0.668749 6.22157C0.165756 5.71858 0.165756 5.04792 0.668749 4.54493C1.17174 4.04194 1.8424 4.04194 2.34539 4.54493L4.35737 6.5569L10.2256 0.688646C10.7286 0.185653 11.3993 0.185653 11.9023 0.688646C12.4053 1.19164 12.4053 1.8623 11.9023 2.36529L5.19569 9.07187C4.86036 9.23953 4.52503 9.4072 4.1897 9.4072Z' fill='%2326ABE0'/%3E%3C/svg%3E%0A");
		position: absolute;
		left: -20px;
		top: 0;
	}
}

