.links-row__wrapper {
	margin-bottom: 20px;

	@include bp(small) {
		margin-bottom: 0;
	}

	@include bp(large) {
		margin-bottom: 50px;
	}
}

.links-row__container {
	flex-direction: column;
	justify-content: space-between;

	@include bp(large) {
		flex-direction: row;
		margin: 0 -10px;
	}
}

.links-row__column {
	margin: 0 0 40px 0;
	flex-direction: column;

	@include bp(small) {
		margin: 0 0 60px 0;
	}
	
	@include bp(large) {
		width: calc(25% - 20px);
		margin: 0 10px 40px 10px;
	}

	@include bp(xlarge) {
		&:hover {
			.links-row__img {
				transform: scale(1.2);
			}

			.links-row__box {
				background-color: $color-bg-blue-5;
			}

			.links-row__triangle {
				polygon {
					fill: $color-bg-blue-5;
				}
			}

			.links-row__link {
				text-decoration: underline;
			}
		}
	}
}

.links-row__image {
	overflow: hidden;
}

.links-row__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: $zoom-transition;
	transform: scale(1)
}

.links-row__oblique {
	position: relative;
	margin-top: -25px;
	z-index: $z-lvl-1;
	margin-bottom: 10px;
}

.links-row__box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 10px 10px 10px 20px;
	background-color: $color-bg-blue-4;
	width: calc(100% - 45px);
	transition: $default-transition;
	
	@include bp(large) {
		padding: 10px;
	}

	@include bp(xlarge) {
		padding: 10px 10px 10px 20px;
	}
}

.links-row__triangle {
	max-width: 15px;

	@include bp(large) {
		max-width: 20px;
	}

	svg {
		display: block;
		height: 100%;
		width: 100%;
	}

	polygon {
		fill: $color-bg-blue-4;
		transition: $default-transition;
	}
}


.links-row__copy,
.links-row__cta {
	padding-left: 20px;
}

.links-row__segment {
	margin-bottom: 16px;

	@include bp(large) {
		margin-bottom: 30px;
	}
}

.links-row__cta {
	justify-content: space-between;
	align-items: flex-end;
	margin-top: auto;
}

.links-row__svg {
	max-width: 50px;
	max-height: 50px;

	svg {
		width: 100%;
		height: 100%;
	}
}
