// ======================================================================================================================
// # INFO ROW (BLAUE HEADLINE & FLIESSTEXT) / PARTIAL
// ======================================================================================================================

.info-row__wrapper {
	margin-bottom: 60px;

	@include bp(large) {
		margin-bottom: 90px;
	}
}

.info-row__title {
	margin-bottom: 25px;

	@include bp(medium) {
		margin-bottom: 30px;
	}
}

.info-row__flex {
	flex-direction: column;
	align-items: center;

	@include bp(medium) {
		width: 100%;
		align-items: flex-start;
	}

	@include bp(large) {
		flex-direction: row;
	}
}

.info-row__content {
	width: 100%;
	margin-bottom: 30px;

	@include bp(large) {
		width: 76%;
		padding-right: 20px;
		margin-bottom: 0;
	}
}

.info-row__copy {
	p {
		margin-bottom: 25px;

		&:last-child {
			margin-bottom: 0;
		}

		@include bp(large) {
			margin-bottom: 20px;
		}
	}
}

.info-row__casing {
	width: 100%;
	background-color: $color-bg-blue-3;
	border: 1px solid $color-border-blue-3;
	border-radius: 6px;
	transition: $default-transition;

	@include bp(medium) {
		width: 280px;
	}

	@include bp(large) {
		width: 24%;
	}
	
	@include bp(xlarge) {
		&:hover {
			background-color: $color-bg-blue-2;

			.info-row__box__title,
			.info-row__box__text {
				color: $color-text;
			}
		}
	}
}

.info-row__box {
	padding: 20px;
}

.info-row__box__title {
	margin-bottom: 10px;
}

.info-row__box__title,
.info-row__box__text {
	transition: $default-transition;
}


