// ======================================================================================================================
// # INFO CARDS (BRANCHENAUSWAHL, BEREICHSAUSWAHL, HIGHLIGHTS) / PARTIAL
// ======================================================================================================================

.info-cards__wrapper {
    margin-bottom: 30px;

    @include bp(medium) {
        margin-bottom: 20px;
    }

	@include bp(large) {
        margin-bottom: 50px;
    }
}

.info-cards__row {
    flex-direction: column;

    @include bp(large) {
		flex-direction: row;
        margin: 0 -10px;
    }
}


.info-cards__column {
    width: 100%;
    margin-bottom: 30px;

	@include bp(medium) {
		margin-bottom: 50px;
	}

    @include bp(large) {
        width: calc(25% - 20px);
        margin: 0 10px 40px 10px;
    }
}

.info-cards__segment {
	margin-bottom: 10px;

	@include bp(large) {
        margin-bottom: 15px;
    }

	@include bp(xlarge) {
		&:hover {
			.info-cards__box {
				background-color: $color-bg-blue-3;
			}

			.info-cards__title,
			.info-cards__copy {
				color: $color-text-white;
			}

			.info-cards__img {
				transform: scale(1.2);
			}

			.info-cards__triangle {
				polygon {
					fill: $color-bg-blue-3;
				}
			}
		}
	}
}

.info-cards__image {
	overflow: hidden;
	
	@include bp(large) {
		height: 150px;
	}
}

.info-cards__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
	transition: $zoom-transition;
	transform: scale(1);
}

.info-cards__oblique {
	position: relative;
	margin-top: -15px;
}

.info-cards__box {
    background-color: $color-bg-blue-2;
    width: calc(100% - 50px);
	transition: $default-transition;
}

.info-cards__triangle {
	max-width: 15px;

	@include bp(large) {
		max-width: 25px;
	}

	svg {
		display: block;
		height: 100%;
		width: 100%;
	}

	polygon {
		fill: $color-bg-blue-2;
		transition: $default-transition;
	}
}

.info-cards__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
    position: relative;
    padding: 12px 20px 12px 20px;
    z-index: $z-lvl-1;
	height: 100%;
    
    @include bp(large) {
        padding: 10px 20px 20px 20px; 
    }
}

.info-cards__title {
	transition: $default-transition;

    @include bp(large) {
        margin-bottom: 5px;
    }
}

.info-cards__copy {
    display: none;
    margin: 0;
	transition: $default-transition;

    @include bp(large) {
        display: block; 
    }
}

.info-cards__copy__mobile {
    display: block;
    margin: 0 0 10px 0; 

    @include bp(large) {
        display: none;
    }
}

.info-cards__list {
    padding-left: 20px;
    margin: 0;

    @include bp(large) {
        padding-left: 40px;
    }
    
}

.info-cards__item {
    position: relative;
    margin-bottom: 5px;

    &:last-child {
        margin-bottom: 0;
    }
}

.info-cards__item::before {
    content: url("data:image/svg+xml,%3Csvg width='7' height='12' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.00586 10.503L5.53281 5.97607L1.00586 1.61679' stroke='%2300ADF0' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 1px; 
}

.info-cards__link {

	@include bp(xlarge) {
		&:hover {
			text-decoration: underline;
		}
	}
}

// Modifiers

.info-cards--highlights {
	.info-cards__main__title {
		margin-bottom: 12px;
	
		@include bp(medium) {
			margin-bottom: 20px;
		}
		
		@include bp(large) {
			margin-bottom: 30px;
		}	
	}

	.info-cards__row {
		flex-direction: column;
	
		@include bp(large) {
			flex-direction: row;
			margin: 0 -10px;
		}
	}

	.info-cards__column {
		width: 100%;
		margin-bottom: 30px;
	
		@include bp(medium) {
			margin-bottom: 50px;
		}
	
		@include bp(large) {
			width: calc(33.33% - 20px);
			margin: 0 10px 40px 10px;
		}
	}

	.info-cards__title {
		margin-bottom: 7px;
	}

	.info-cards__copy {
		display: block;
	}


	.info-cards__item {
		position: relative;
		margin-bottom: 10px;
	
		&:last-child {
			margin-bottom: 0;
		}
	}

	.info-cards__item::before {
		content: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.1897 9.4072C3.85437 9.4072 3.68671 9.23953 3.35138 9.07187L0.668749 6.22157C0.165756 5.71858 0.165756 5.04792 0.668749 4.54493C1.17174 4.04194 1.8424 4.04194 2.34539 4.54493L4.35737 6.5569L10.2256 0.688646C10.7286 0.185653 11.3993 0.185653 11.9023 0.688646C12.4053 1.19164 12.4053 1.8623 11.9023 2.36529L5.19569 9.07187C4.86036 9.23953 4.52503 9.4072 4.1897 9.4072Z' fill='%2326ABE0'/%3E%3C/svg%3E%0A");
		position: absolute;
		left: -22px;
		top: 7px;
		margin-top: 0;
	}
}
