.buttons-row__wrapper {
	margin-bottom: 50px;

	@include bp(large) {
		margin-bottom: 80px;
	}
}

.buttons-row__container {
	margin: -10px;
	justify-content: center;

	@include bp(large) {
		justify-content: unset;
	}
}

.buttons-row__btn {
	width: calc(50% - 20px);
	margin: 10px;
	
	@include bp(medium) {
		width: auto;
	}
}

.buttons-row__link {
	width: 100%;

	@include bp(medium) {
		width: auto;
	}
}
