// ======================================================================================================================
// # THREE STEPS (DREI GRUENDE) / PARTIAL
// ======================================================================================================================

.three-steps__wrapper {
	margin-bottom: 20px;

	@include bp(large) {
		margin-bottom: 90px;
	}
}

.three-steps__oblique {
	margin: 0 -20px 20px -20px;

	@include bp(medium) {
		margin: 0 -40px 30px -40px;
	}

	@include bp(large) {
		margin: 0 0 30px 0;
	}
}

.three-steps__box {
	background-color: $color-bg-blue-2;
	width: 100%;
	padding: 20px 20px 25px 20px;

	@include bp(large) {
		width: calc(100% - 40px); 
		padding: 20px;
	}
}

.three-steps__triangle {
	display: none;

	@include bp(large) {
		max-width: 35px;
		display: block;
	}

	svg {
		display: block;
		height: 100%;
		width: 100%;
	}

	polygon {
		fill: $color-bg-blue-2;
	}
}


.three-steps__line {
	margin-bottom: 5px;

	@include bp(small) {
		margin-bottom: 15px;
	}
}

.three-steps__row {
	flex-direction: column;

	@include bp(large) {
		flex-direction: row;
		margin: 0 -10px;

	}
}

.three-steps__column {
	width: 100%;
	margin-bottom: 40px;

	@include bp(large) {
		width: calc(33.33% - 20px);
		margin: 0 10px;
	}
}

.three-steps__headline {
	margin-bottom: 25px;
	align-items: unset;

	@include bp(medium) {
		align-items: center;
	}

	@include bp(large) {
		align-items: unset;
	}
}

.three-steps__svg {
	width: 45px;
	height: 50px;
	padding-right: 15px;

	svg {
		max-width: 100%;
		max-height: 100%;
	}
}

.three-steps__heading {
	flex: 1;
	
	@include bp(large) {
		margin-top: 10px;
	}
}
