// ======================================================================================================================
// # CARD CAROUSEL (EMPFEHLUNGEN SLIDER) / PARTIAL
// ======================================================================================================================

.card-carousel__wrapper {
	margin-bottom: 60px;

	@include bp(large) {
		margin-bottom: 90px;
	}
}

.card-carousel {
	position: relative;
}

.card-carousel__title {
	margin-bottom: 20px;

	@include bp(large) {
		margin-top: 35px;
	}
}

.card-carousel__arrow {
	position: absolute;
	width: 18px;
	height: 38px;
	top: calc(50% + 10px);
	transform: translateY(-50%);
	z-index: $z-lvl-1;

	@include bp(xlarge) {
		cursor: pointer;
	}
}

.card-carousel__left {
	left: -15px;

	@include bp(small) {
		left: -10px;
	}

	@include bp(large) {
		left: 0;
	}
}

.card-carousel__right {
	right: -15px;

	@include bp(small) {
		right: -10px;
	}

	@include bp(large) {
		right: 0;
	}
}

.card-carousel__container {
	margin: 0 -10px;

	@include bp(small) {
		margin-left: auto;
		margin-right: auto;
	}
}

.card-carousel__segment {
	padding: 20px 15px;
	justify-content: space-between;
	border: 1px solid $color-border-blue-2;
	flex-direction: column;
	align-items: center;

	@include bp(large) {
		border-right: 0;
		padding: 20px 0 20px 20px;
		flex-direction: row;
		align-items: unset;
	}
}

.card-carousel__image {
	margin-bottom: 22px;

	@include bp(large) {
		margin-bottom: 0;
	}
}

.card-carousel__svg {
	width: 64px;
	height: 55px;
}

.card-carousel__content {
	padding-left: 20px;
	
	@include bp(large) {
		max-width: 296px;
	}
}

.card-carousel__copy {
	margin-bottom: 16px;

	@include bp(large) {
		margin-bottom: 10px;
	}
}

.card-carousel__triangle {
	display: none;

	@include bp(large) {
		display: block;
		max-width: 50px;
	}

	svg {
		display: block;
		height: 100%;
		width: 100%;
	}
}

.card-carousel__pagination {
	height: 5px;
	width: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;

	.swiper-pagination-bullet {
		display: block;
		height: 5px;
		width: 5px;
		background-color: $color-bg-blue-6;
		border-radius: 50%;
		margin: 7px;

		@include bp(xlarge) {
			cursor: pointer
		}
	}
	
	.swiper-pagination-bullet-active {
		background-color: $color-bg-blue;
	}

	@include bp(small) {
		margin-top: 20px;
	}

	@include bp(medium) {
		margin-top: 35px;
	}
}
