// ======================================================================================================================
// # HEAVY CONTENT (FLIESSTEXT) / PARTIAL
// ======================================================================================================================

.heavy-content__wrapper {
	margin-bottom: 60px;

	@include bp(large) {
		margin-bottom: 90px;
	}
}

.heavy-content__container {
	max-width: 880px;
}

.heavy-content__title {
	margin-bottom: 20px;
	
	@include bp(large) {
		margin-bottom: 30px;
	}
}

.heavy-content__copy {
	p {
		margin-bottom: 20px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.heavy-content__link {
	color: $color-text-blue-4;
	text-decoration: underline;
}
