// ==========================================================================
// # STANDARD ROW (FLIESSTEXT USP & FLIESSTEXT UBER UNS) / PARTIAL
// ==========================================================================

.standard-row__wrapper {
    margin-bottom: 40px;

    @include bp(medium) {
        margin-bottom: 50px;
    }

    @include bp(large) {
        margin-bottom: 70px;
    }
}

.standard-row {
    flex-direction: column;
    align-items: center;

    @include bp(large) {
        flex-direction: row;
        align-items: unset;
    }
}

.standard-row__image {
    width: 100%;
    margin-bottom: 15px; 

    @include bp(medium) {
        margin-bottom: 30px;
    }   

    @include bp(large) {
        width: 36%;
        margin-bottom: 0;
    }
}

.standard-row__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.standard-row__content {
    width: 100%;

    @include bp(large) {
        padding-left: 20px;
        width: 64%;
    }
}

.standard-row__title {
    margin-bottom: 6px; 
}

.standard-row__subtitle {
    margin-bottom: 20px;
}

.standard-row__copy {
    p {
		margin-bottom: 20px;

        &:last-child { 
            margin-bottom: 0;
        }
    }

    strong {
        text-decoration: underline;

        @include bp(large) {
            text-decoration: none;
        }
    }
}

// Modifiers

.standard-row--large-margin {
	margin-bottom: 60px;

	@include bp(large) {
		margin-bottom: 90px;
	}
}

.standard-row--revert {
    .standard-row__content {
        @include bp(large) {
            padding-left: 0;
            padding-right: 20px; 
            order: 0;
        } 
    }

    .standard-row__image {
        @include bp(large) {
            order: 2;
        }
    }
}

.standard-row--fifty {
	.standard-row__content {
        @include bp(large) {
			width: 51%;
        } 
    }

    .standard-row__image {
        @include bp(large) {
			width: 49%;
        }
    }
}

.standard-row--image-small {
	.standard-row__content {
        @include bp(large) {
			width: 76%;
        } 
    }

    .standard-row__image {
        @include bp(large) {
			width: 24%;
        }
    }
}

.standard-row--header-l-margin {
	.standard-row__title {
		margin-bottom: 5px;

		@include bp(medium) {
			margin-bottom: 30px;
		}
	}
}
