// ==========================================================================
// # IMAGE FULL (Grafik oder Bild Vollflächig) / PARTIAL
// ==========================================================================

.image-full__wrapper {
	margin-bottom: 60px;

	@include bp(large) {
		margin-bottom: 90px;
	}
}

.image-full__container {
	justify-content: center;
}

.image-full__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
