// ==========================================================================
// # IMAGE MEDIUM (Grafik oder Bild 3/4) / PARTIAL
// ==========================================================================

.image-medium__wrapper {
	margin-bottom: 60px;

	@include bp(large) {
		margin-bottom: 90px;
	}
}

.image-medium__container {
	justify-content: center;
}

.image-medium__image {
	width: 90%;

	@include bp(medium) {
		width: 80%;
	}
	
	@include bp(large) {
		width: 100%;
	}
}

.image-medium__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
