// ======================================================================================================================
// # DROPDOWN TABS (HAEUFIGE FRAGEN) / PARTIAL
// ======================================================================================================================

.dropdown-tabs__wrapper {
	margin-bottom: 60px;

	@include bp(large) {
		margin-bottom: 90px;
	}
}

.dropdown-tabs__title {
	margin-bottom: 30px;
}

.dropdown-tabs__content {
	margin-bottom: 30px;

	&:last-child {
		margin-bottom: 0;
	}
}

.dropdown-tabs__oblique {
	position: static;

	@include bp(large) {
		position: relative;
	}

	@include bp(xlarge) {
		cursor: pointer;
	}
}

.dropdown-tabs__box {
	display: flex;
	padding: 20px 0 20px 20px;
	background-color: $color-bg-blue-2;
	justify-content: space-between;
	align-items: center;
	width: calc(100% - 20px);

	@include bp(small) {
		padding: 20px 10px 20px 20px;
	}

	@include bp(medium) {
		padding: 25px 25px 25px 30px;
	}
}

.dropdown-tabs__headline {
	padding-right: 15px;

	@include bp(small) {
		padding-right: 20px;
	}

	@include bp(medium) {
		padding-right: 50px;
	}

	@include bp(large) {
		padding-right: 0;
		max-width: 710px;
	}
}

.dropdown-tabs__arrow {
	transition: $default-transition;
	transform: rotate(0);
	align-self: flex-start;

	@include bp(large) {
		position: absolute;
		top: 15px;
		right: 50px;
		align-self: unset;
	}
}

.dropdown-tabs__svg {
	display: block;
	width: 27px;
	height: 22px;

	@include bp(medium) {
		width: 26px;
		height: 41px;
	}
}

.dropdown-tabs__triangle {
	max-width: 20px;

	svg {
		display: block;
		height: 100%;
		width: 100%;
	}

	polygon {
		fill: $color-bg-blue-2;
	}
}

.dropdown-tabs__text {
	padding-top: 20px;
	display: none;
}
