// ======================================================================================================================
// # TITLE ROW (HEADLINE/SUBHEADLINE) / PARTIAL
// ======================================================================================================================

.title-row__wrapper {
	margin-bottom: 15px;

	@include bp(medium) {
		margin-bottom: 30px;
	}
}

.title-row__container {
	max-width: 880px;
}

.title-row__headline {
	margin-bottom: 12px;

	@include bp(large) {
		margin-bottom: 5px;
	}
}
