// ======================================================================================================================
// # HEAVY ROW (HINWEIS) / PARTIAL
// ======================================================================================================================

.heavy-row__wrapper {
	background-color: $color-bg-blue-2;
	padding: 20px 0;
	margin-bottom: 20px;

	@include bp(medium) {
		padding: 30px 0;
		margin-bottom: 30px;
	}

	@include bp(large) {
		padding: 20px 0 70px 0;
	}
}

.heavy-row__title {
	margin-bottom: 14px;

	@include bp(small) {
		margin-bottom: 30px;
	}
}

.heavy-row__content {
	flex-direction: column;
	margin: 0 -20px;

	@include bp(medium) {
		margin: 0 -40px;
	}

	@include bp(large) {
		flex-direction: row;
		margin: 0;
	}
}

.heavy-row__image {
	margin-bottom: 20px;

	@include bp(medium) {
		width: 50%;
		margin-bottom: 30px;
	}
	
	@include bp(large) {
		width: 32%;
		margin-bottom: 0;
	}
}

.heavy-row__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.heavy-row__text {
	width: 100%;

	@include bp(large) {
		width: 68%;
		padding-left: 20px;
		
	}
}

.heavy-row__copy {
	p {
		margin-bottom: 20px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}
