// ======================================================================================================================
// # RESOURCES CAROUSEL (KOOP-PARTNER) / PARTIAL
// ======================================================================================================================

.resources-carousel__wrapper {
	margin-bottom: 60px;

	@include bp(large) {
		margin-bottom: 90px;
	}
}

.resources-carousel {
	position: relative;
}

.resources-carousel__title {
	margin-bottom: 30px;
}

.resources-carousel__arrow {
	position: absolute;
	width: 18px;
	height: 38px;
	top: calc(100% - 55px);
	z-index: $z-lvl-1;

	@include bp(large) {
		top: 80px;
	}

	@include bp(xlarge) {
		cursor: pointer;
	}
}

.resources-carousel__left {
	left: -17px;

	@include bp(small) {
		left: -10px;
	}

	@include bp(large) {
		left: 0;
	}
}

.resources-carousel__right {
	right: -17px;

	
	@include bp(small) {
		right: -10px;
	}

	@include bp(large) {
		right: 0;
	}
}

.resources-carousel__container {
	margin: 0 -20px;

	@include bp(small) {
		margin-left: auto;
		margin-right: auto;
	}
}

.resources-carousel__slide {
	display: flex;
	flex-direction: column;
	align-items: center;

	@include bp(large) {
		align-items: unset;
	}

	@include bp(xlarge) {
		&:hover {
			.resources-carousel__page {
				text-decoration: underline;
			}
		}
	}
}

.resources-carousel__image,
.resources-carousel__text {
	flex: 1;
}

.resources-carousel__text {
	padding-top: 20px;
	max-width: 270px;
	text-align: center;

	@include bp(large) {
		text-align: left;
		max-width: unset;
	}
}

.resources-carousel__img {
	display: block;
	max-width: 100%;
}
