// ======================================================================================================================
// # INFO BOXES (LEISTUNGSAUSWAHL) / PARTIAL
// ======================================================================================================================

.info-boxes__wrapper {
	margin-bottom: 35px;

	@include bp(large) {
		margin-bottom: 50px;
	}		
}

.info-boxes__row {
	flex-direction: column;

	@include bp(medium) {
		flex-direction: row;
		margin: 0 -25px;
	}

	@include bp(large) {
		margin: 0 -10px;
	}
}

.info-boxes__card {
	width: 100%;
	padding: 35px;
	background-color: $color-bg-blue-2;
	margin-bottom: 25px;
	text-align: center;
	transition: $default-transition;

	@include bp(medium) {
		width: calc(50% - 50px);
		margin: 25px;
	}

	@include bp(large) {
		width: calc(25% - 20px);
		margin: 0 10px 40px 10px;
	}

	@include bp(xlarge) {
		&:hover {
			background-color: $color-bg-blue-3;
			border-radius: 6px;

			.info-boxes__text {
				color: $color-text-white;
			}

			.info-boxes__border {
				fill: $color-bg-white;	
			}
		}
	}
}

.info-boxes__content {
	flex-direction: column;
}

.info-boxes__svg {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 40px;
	margin-bottom: 20px;

	svg {
		max-width: 100%;
		max-height: 100%;
	}
}

.info-boxes__border {
	transition: $default-transition;
}

.info-boxes__img {
	max-width: 100%;
	max-height: 100%;
}

.info-boxes__txt {
	transition: $default-transition;
}
