.benefits-dropdown__wrapper {
	margin-bottom: 60px;
	
	@include bp(large) {
		margin-bottom: 90px;
	}
}

.benefits-dropdown__content {
	margin-bottom: 30px;

	&:last-child {
		margin-bottom: 0;
	}
}

.benefits-dropdown__oblique {
	position: relative;
	margin: 0 -20px;

	@include bp(medium) {
		margin: 0;	
	}

	@include bp(xlarge) {
		cursor: pointer;
	}
}

.benefits-dropdown__box {
	display: flex;
	padding: 20px 20px;
	background-color: $color-bg-blue-2;
	justify-content: space-between;
	align-items: center;
	width: 100%;

	@include bp(medium) {
		padding: 20px;
		width: calc(100% - 20px);
	}
}

.benefits-dropdown__triangle {
	display: none;
	max-width: 20px;

	@include bp(medium) {
		display: block;
	}

	svg {
		display: block;
		height: 100%;
		width: 100%;
	}

	polygon {
		fill: $color-bg-blue-2;
	}
}

.benefits-dropdown__headline {
	padding-right: 20px;

	@include bp(medium) {
		padding-right: 50px;
	}

	@include bp(large) {
		padding-right: 0;
		max-width: 710px;
	}
}

.benefits-dropdown__arrow {
	transition: $default-transition;
	transform: rotate(0);
	align-self: flex-end;

	@include bp(large) {
		position: absolute;
		top: 15px;
		right: 50px;
		align-self: unset;
	}
}

.benefits-dropdown__svg {
	width: 32px;
	height: 20px;

	@include bp(large) {
		width: 26px;
		height: 41px;
	}
}

.benefits-dropdown__segment {
	display: none;
	padding-top: 32px;
}

.benefits-dropdown__row {
	margin: 0;

	@include bp(large) {
		margin: 0 -10px;
	}
}

.benefits-dropdown__column {
	width: 100%;
	margin: 0 0 30px 0;

	&:last-child {
		margin: 0;
	}

	@include bp(small) {
		margin: 0 0 40px 0;
	}

	@include bp(large) {
		width: calc(50% - 20px);
		margin: 0 10px;

		&:last-child {
			margin: 0 10px;
		}
	}
}

.benefits-dropdown__column__title {
	margin-bottom: 20px;

	@include bp(small) {
		margin-bottom: 30px;
	}
}

.benefits-dropdown__list {
	margin: 0;
	padding-left: 30px;
}

.benefits-dropdown__item {
	position: relative;
	margin-bottom: 20px;

	&:last-child {
		margin-bottom: 0;
	}
}

.benefits-dropdown__item::after {
	content: url("data:image/svg+xml,%3Csvg viewBox='0 0 21 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.1748 9.37082L7.02695 14.5576L19.241 2.17627' stroke='%2326ABE0' stroke-width='2.654' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
	position: absolute;
	left: -30px;
	top: -3px;
	width: 21px;
	height: 16px;

}
