// ======================================================================================================================
// # DOUBLE COLUMN BENEFITS (LEISTUNGEN IM DETAIL) / PARTIAL
// ======================================================================================================================

.double-benefits__wrapper {
	margin-bottom: 60px;

	@include bp(large) {
		margin-bottom: 90px;
	}
}

.double-benefits__tab {
	margin: 0 -20px 20px -20px;

	@include bp(medium) {
		margin: 0 -40px 30px -40px;
	}

	@include bp(large) {
		margin: 0 0 30px 0;
	}
}

.lightbox-cards__oblique {
	position: relative;
	margin-top: -25px;
	z-index: $z-lvl-1;

}

.double-benefits__box {
	width: 100%;
	padding: 20px;
	background-color: $color-bg-blue-2;

	@include bp(large) {
		width: calc(100% - 20px);
		padding: 20px 30px 20px 20px;
	}
}

.double-benefits__triangle {
	display: none;

	@include bp(large) {
		display: block;
		max-width: 20px;
	}

	svg {
		display: block;
		height: 100%;
		width: 100%;
	}

	polygon {
		fill: $color-bg-blue-2;
	}
}

.double-benefits__flex {
	flex-direction: column;

	@include bp(large) {
		flex-direction: row;
		margin: 0 -10px;
	}
}

.double-benefits__column {
	width: 100%;
	margin-bottom: 20px;

	&:last-child {
		margin-bottom: 0;
	}
	
	@include bp(large) {
		margin: 0 10px;
		width: calc(50% - 20px);
		margin-bottom: 0;
	}
}

.double-benefits__list {
	margin: 0;
	padding-left: 30px;
}

.double-benefits__item {
	position: relative;
	margin-bottom: 20px;

	&:last-child {
		margin-bottom: 0;
	}
}

.double-benefits__item::before {
	content: url("data:image/svg+xml,%3Csvg width='22' height='17' viewBox='0 0 22 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_32:3318)'%3E%3Cpath d='M2.1748 9.37082L7.02695 14.5576L19.241 2.17627' stroke='%2326ABE0' stroke-width='2.654' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_32:3318'%3E%3Crect width='21.4164' height='16.8988' fill='white' transform='translate(0 0.000976562)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
	position: absolute;
	left: -30px;
	top: -2px;
}
