// ======================================================================================================================
// # LIGHTBOX CARDS (Look&Feel Softwareprodukte) / PARTIAL
// ======================================================================================================================

.lightbox-cards__wrapper {
	position: relative;
	margin-bottom: 20px;

	@include bp(small) {
		margin-bottom: 0px;
	}

	@include bp(large) {
		margin-bottom: 40px;
	}
}

.ligthbox-cards__title {
	margin-bottom: 20px;

	@include bp(medium) {
		margin-bottom: 30px;
	}
}

.lightbox-cards__container {
	@include bp(large) {
		margin: 0 -10px;
	}
}

.lightbox-cards__column {
	width: 100%;
	margin: 0 0 40px 0;

	@include bp(small) {
		margin: 0 0 60px 0;
	}

	@include bp(large) {
		width: calc(25% - 20px);
		margin: 0 10px 50px 10px;
	}

	@include bp(xlarge) {
		cursor: pointer;
		
		&:hover {
			.lightbox-cards__box {
				background-color: $color-bg-blue-11;
			}

			.lightbox-cards__triangle {
				polygon {
					fill: $color-bg-blue-11; 
				}
			}
		}
	}
}

.lightbox-cards__image {
	position: relative;

	@include bp(large) {
		height: 150px;
	}
}

.lightbox-cards__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.lightbox-cards__svg {
	position: absolute;
	top: 13px;
	right: 13px;
	max-width: 38px;
	max-height: 38px;

	svg {
		width: 100%;
		height: 100%;
	}
}

.lightbox-cards__oblique {
	position: relative;
	margin-top: -25px;
	z-index: $z-lvl-1;

}

.lightbox-cards__box {
	background-color: $color-gray-3;
	padding: 10px 10px 10px 20px;
	width: calc(100% - 45px);
	align-items: center;
	transition: $default-transition;
}

.lightbox-cards__triangle {
	max-width: 20px;

	@include bp(large) {
		max-width: 25px;
	}

	svg {
		display: block;
		height: 100%;
		width: 100%;
	}

	polygon {
		fill: $color-gray-3;
		transition: $default-transition;
	}
}
