// ======================================================================================================================
// # BUTTON CARDS (STELLENANZEIGEN) / PARTIAL
// ======================================================================================================================

.button-cards__wrapper {
	margin-bottom: 10px;
	
	@include bp(medium) {
		margin-bottom: 60px;
	}

	@include bp(large) {
		margin-bottom: 90px;
	}
}

.button-cards__container {
	flex-direction: column;
	align-items: center;

	@include bp(medium) {
		flex-direction: row;
		align-items: unset;
		margin: -25px;
	}

	@include bp(large) {
		margin: 0 -20px;
	}
}

.button-cards__column {
	margin: 0 0 50px 0;
	width: 100%;
	
	@include bp(medium) {
		width: calc(50% - 50px);
		margin: 25px;
	}

	@include bp(large) {
		width: calc(25% - 40px);
		margin: 0 20px;
	}
}

.button-cards__oblique {
	margin-bottom: 30px;
}

.button-cards__box {
	background-color: $color-bg-gray;
	padding: 10px 10px 10px 25px;
	width: calc(100% - 25px);
}

.button-cards__triangle {
	max-width: 15px;

	svg {
		display: block;
		height: 100%;
		width: 100%;
	}

	polygon {
		fill: $color-bg-gray;
	}
}

.button-cards__segment {
	padding-left: 25px;
}

.button-cards__job,
.button-cards__desc {
	margin-bottom: 15px;
}

.button-cards__info {
	margin-bottom: 20px;
}

.button-cards__line {
	align-items: center;
	
	svg {
		display: block;
	}
}

.button-cards__location {
	margin-bottom: 10px;
}

.button-cards__location__svg {
	svg {
		max-width: 14px;
		max-height: 22px;
	}
}

.button-cards__calendar__svg {
	svg {
		max-width: 16px;
		max-height: 17px;
	}
}

.button-cards__location__text,
.button-cards__calendar__text {
	padding-left: 10px;
}

.button-cards__calendar__text {
	align-self: flex-end;
}

.button-cards__cta {
	justify-content: center;

	@include bp(small) {
		padding-left: 25px;
		justify-content: unset;
	}
}

.button-cards__btn {
	padding: 12px 29px;
}
