// ======================================================================================================================
// # CUSTOM TEXT (TIPP) / PARTIAL
// ======================================================================================================================

.custom-text__wrapper {
	margin-bottom: 60px;

	@include bp(large) {
		margin-bottom: 90px;
	}
}

.custom-text__headline {
	align-items: center;
	margin-bottom: 22px;
}

.custom-text__heading {
	padding-left: 25px;
}

.custom-text__copy {
	p {
		margin-bottom: 20px;
	}

	*:last-child {
		margin-bottom: 0;
	}
}
 
.custom-text__list {
	padding-left: 20px;
	margin: 0 0 20px 0;
}

.custom-text__item {
	position: relative;
}

.custom-text__item::before {
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 31.955 31.955' style='enable-background:new 0 0 31.955 31.955' xml:space='preserve'%3E%3Cpath style='fill:%23030104' d='M27.25 4.655c-6.254-6.226-16.37-6.201-22.594.051-6.227 6.254-6.204 16.37.049 22.594 6.256 6.226 16.374 6.203 22.597-.051 6.224-6.254 6.203-16.371-.052-22.594z'/%3E%3Cpath style='fill:%23030104' d='m13.288 23.896-1.768 5.207c2.567.829 5.331.886 7.926.17l-.665-5.416a8.382 8.382 0 0 1-5.493.039zM8.12 13.122l-5.645-.859a13.856 13.856 0 0 0 .225 8.143l5.491-1.375a8.391 8.391 0 0 1-.071-5.909zm20.643-1.789-4.965 1.675a8.39 8.39 0 0 1-.247 6.522l5.351.672a13.868 13.868 0 0 0-.139-8.869zm-17.369-8.45 1.018 5.528a8.395 8.395 0 0 1 6.442-.288l1.583-5.137a13.855 13.855 0 0 0-9.043-.103z'/%3E%3Ccircle style='fill:%23030104' cx='15.979' cy='15.977' r='6.117'/%3E%3C/svg%3E");
	position: absolute;
	left: -15px;
	top: -4px;
	width: 3px;
	height: 10px;
}

.custom-text__link {
	color: $color-text-blue-4;
	white-space: nowrap;
}
