// ======================================================================================================================
// # VIDEO ROW (Video Einbindung) / PARTIAL
// ======================================================================================================================

.video-row__wrapper {
	margin-bottom: 60px;

	@include bp(large) {
		margin-bottom: 90px;
	}
}

.video-row__container {
	justify-content: center;
}

.video-row__responsive{
	position: relative;
	overflow: hidden;
	width: 100%;
	padding-top: 56.25%;
  }
  
  .video-row__iframe {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
  }
