// ======================================================================================================================
// # OFFER ROW (WECHSELSERVICE) / PARTIAL
// ======================================================================================================================

.offer-row__wrapper {
	margin-bottom: 60px;

	@include bp(large) {
		margin-bottom: 90px;
	}
}

.offer-row__header {
	margin-bottom: 20px;

	@include bp(medium) {
		margin-bottom: 25px;
	}
}

.offer-row__container {
	background-color: $color-bg-blue-2;
}

.offer-row__flex {
	padding: 20px 0 30px 0;
	flex-direction: column;
	align-items: unset;

	@include bp(small) {
		padding: 35px 0;
	}

	@include bp(medium) {
		align-items: center;
	}

	@include bp(large) {
		flex-direction: row;
		align-items: unset;
	}

	@include bp(full) {
		padding: 35px 0 35px 150px;
	}
}

.offer-row__image {
	width: 100%;
	margin-bottom: 25px;

	@include bp(medium) {
		width: 50%;
	}
	
	@include bp(large) {
		width: 27%;
		margin-bottom: 0;
	}
}

.offer-row__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.offer-row__content {
	flex-direction: column;
	justify-content: space-between;
	
	@include bp(medium) {
		text-align: center;
	}

	@include bp(large) {
		width: 73%;
		text-align: left;
		padding-left: 20px;
	}
}

.offer-row__text {
	margin-bottom: 20px;

	@include bp(medium) {
		margin-bottom: 30px;
	}
}

.offer-row__subtitle {
	margin-bottom: 25px;

	@include bp(large) {
		margin-bottom: 30px;
	}
}

.offer-row__cta {
	justify-content: center;

	@include bp(small) {
		justify-content: unset;
	}

	@include bp(medium) {
		justify-content: center;
	}

	@include bp(large) {
		justify-content: unset;
	}
}
