// ======================================================================================================================
// # TEXT AND BUTTON (ZURUECK ZUR VORAUSWAHL) / PARTIAL
// ======================================================================================================================

.text-and-button__wrapper {
	margin-bottom: 60px;

	@include bp(large) {
		margin-bottom: 90px;
	}
}

.text-and-button__box {
	border: 1px solid $color-border-blue-2;
	padding: 20px;
	width: 100%;
	
	@include bp(medium) {
		border-right: 0;
		width: calc(100% - 40px);
	}

	@include bp(large) {
		padding: 20px 30px 20px 20px;
	}
}

.text-and-button__triangle {
	display: none;

	@include bp(medium) {
		display: block;
		max-width: 40px;
	}

	svg {
		display: block;
		height: 100%;
		width: 100%;
	}

	polygon {
		fill: $color-gray-3;
	}
}

.text-and-button__title {
	margin-bottom: 13px;
}

.text-and-button__cta {
	justify-content: center;
}

.text-and-button__btn {
	padding: 10px 20px;
	width: 100%;

	@include bp(small) {
		width: auto;
	}

	@include bp(large) {
		padding: 10px 60px;
	}
}
