// ==========================================================================
// # FOOTER / STATIC
// ==========================================================================

.u-footer {
    background-color: $color-bg-blue-3;
}

.u-footer__container {
    padding: 30px 0 13px 0;
	flex-direction: column;

	@include bp(large) {
		padding: 20px 0;
		flex-direction: row;
	}
}

.u-footer__left {
	width: 100%;
    flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
	text-align: center;

	@include bp(large) {
		margin-bottom: 0;
		align-items: unset;
		width: 14%;
		text-align: left;
	}
}

.u-footer__title {
	margin-bottom: 15px;
}

.u-footer__address {
	@include bp(large) {
		padding-right: 20px;
		margin-bottom: 45px;
	}
}

.u-footer__copyright {
	display: none;

	@include bp(large) {
		display: block;
	}
}


.u-footer__right {
	width: 100%;
	flex-direction: column;
	
	@include bp(large) {
		width: 86%;
		margin-bottom: 10px;
		padding-left: 20px;
	}
}

.u-footer__top {
	flex-direction: column;
	align-items: center;
	margin-bottom: 35px;

	@include bp(large) {
		flex-direction: row;
		justify-content: flex-end;
		align-items: unset;
		margin-bottom: 45px;
	}
}

.u-footer__navigation {
	@include bp(large) {
		width: 55%;
	}
}

.u-footer__list {
    padding: 0;
    margin: 0;
	flex-direction: column;
	
	@include bp(large) {
		flex-direction: row;
	}
}

.u-footer__item {
    width: 100%;
	text-align: center;
	margin-bottom: 16px;

	&:last-child {
		margin-bottom: 0;
	}
	
	@include bp(large) {
		text-align: left;
		width: 25%;
		padding-right: 20px;
		margin-bottom: 0;

		&:last-child {
			padding-right: 0;
		}
	}
}

.u-footer__bottom {
	justify-content: space-between;
	flex-direction: column;

	@include bp(large) {
		flex-direction: row;
	}
}

.u-footer__details {
	flex-direction: column;
	margin-bottom: 48px;

	@include bp(small) {
		align-items: center;
	}

	@include bp(large) {
		flex-direction: row;
		align-items: unset;
		margin-bottom: 0;
	}
}


.u-footer__piece {
	align-items: center;
	margin-bottom: 20px;

	&:last-child {
		margin-bottom: 0;
	}

	@include bp(large) {
		margin-bottom: 0;
		padding-right: 20px;
	}
}

.u-footer__svg {
    width: 40px;
    height: 40px;

    svg {
        width: 100%;
        height: 100%;
    }
}

.u-footer__text {
	margin-left: 20px;
}

.u-footer__socials {
	justify-content: center;
	margin-bottom: 37px;

	@include bp(large) {
		margin-top: 20px;
		margin-bottom: 0;
	}
}

.u-footer__socials__svg {
	max-width: 45px;
	max-height: 45px;
	margin-right: 32px;

	&:last-child {
		margin-right: 0;
	}

	svg {
		width: 100%;
		height: 100%;
	}

	@include bp(large) {
		max-width: 40px;
		max-height: 40px;
	}
}

.u-footer__linkedin {
	display: block;

	@include bp(large) {
		display: none;
	}
}

.u-footer__copyright__mobile {
	display: block;
	text-align: center;

	@include bp(large) {
		display: none;
	}
}
