// ==========================================================================
// # HEADER / STATIC
// ==========================================================================

.l-navbar { 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: $z-lvl-3;
}

.l-navbar--active {
	min-height: 100vh;
	overflow: scroll;
}

.l-navbar__bar {
    background-color: $color-bg-white;
	// padding-bottom: 5px;

	// // @include bp(small) {
	// // 	padding-bottom: 10px;
	// // }

	// // @include bp(medium) {
	// // 	padding-bottom: 25px;
	// // }
}

.l-navbar__myhelmsauer {
    position: absolute;
    top: 0;
    right: 0;
    background-color: $color-bg-blue;
    padding: 3px 10px;
    align-items: center;
    z-index: $z-lvl-4;

    @include bp(xlarge) {
        padding: 10px 15px;
    }
}

.l-navbar__padlock {
    width: 15px;
    height: 15px; 

    svg {
        width: 100%;
        height: 100%;
    }

    @include bp(xlarge) {
        width: 25px;
        height: 35px;
    }
}

.l-navbar__login {
    padding-left: 5px;
    
    @include bp(xlarge) {
        padding-left: 13px;
    }
}

.l-navbar__container {
    height: 58px;
    position: relative;
    justify-content: space-between;
    align-items: flex-end;

	@include bp(small) {
		height: 80px;
	}

    @include bp(xlarge) {
        height: 120px;
        justify-content: unset;
        align-items: unset;
    }
}

.l-navbar__logo {
	align-self: flex-start;
}

.l-navbar__image {  
    max-width: 100px;
    max-height: 58px;

    @include bp(xlarge) {
        max-width: 130px;
        max-height: 75px;
    }
}

.l-navbar__img {
    width: 100%;
    height: 100%;
}

.l-navbar__menu {
    display: none;

    @include bp(xlarge) { 
        display: flex;
    }
}

.l-navbar__navigation {
    display: none;
    align-items: center;

    @include bp(xlarge) {
        display: flex;
    }
}

.l-navbar__links {
    height: 100%;
    padding: 0;
    margin: 0;
}

.l-navbar__item { 
    display: flex;
    align-items: center;
    cursor: pointer;
}

.l-navbar__content {
    height: 100%;

    &:hover {
        .l-navbar__link {
            text-decoration: underline;
        }
    }
}

.l-navbar__link {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 25px 0 25px;
    white-space: nowrap;
    transition: $menu-transition;
}

.l-navbar__link--active {
	color: red;
}

.l-navbar__item--active {
	.l-navbar__link {
		text-decoration: underline;
	}
}

.l-navbar__dropdown {
    display: none;
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
    background-color: $transparent-white;
}

.l-navbar__dropdown--open {
	display: block;
}

.l-navbar__dropdown__container {
    display: flex;
    margin: 0;
    padding: 0;
}

.l-navbar__dropdown__item {
    &:hover {
        background-color: $transparent-blue;

        .l-navbar__dropdown__link {
            color: $color-text-white;
        }
    }
}

.l-navbar__dropdown__item--active{
	background-color: $transparent-blue;

    .l-navbar__dropdown__link {
        color: $color-text-white;
    }
}

.l-navbar__dropdown__link {
    padding: 20px 30px;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}

.l-navbar__submenu {
    position: absolute;
    display: none;
	left: 0;
    top: 100%;
    width: 100%;
    padding: 30px 40px;
    background-color: $transparent-blue;
	border-radius: 0px 0px 10px 10px;
}

.l-navbar__submenu--open {
	display: flex;
}

.l-navbar__column {
    width: 25%;
    padding-left: 60px;
    flex-direction: column;

	&:first-child {
		padding-left: 0;
	}
}

.l-navbar__column__title {
    margin-bottom: 14px;
}

.l-navbar__column__list {
    margin: 0 0 13px 0;
    padding: 0;
    color: $color-text-white;
}

// Burger Icon

.l-navbar__segment {
	margin-bottom: 10px;

	@include bp(small) {
		margin-bottom: 20px; 
	}
}

.l-navbar__burger {
    display: block;
    position: relative;
    width: 28px;
    height: 16px;

    @include bp(xlarge) {
        display: none;
    }
}

.l-navbar__burger::before,
.l-navbar__burger::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $color-bg-blue-3;
    transform: translateY(-50%);
}

.l-navbar__burger::before {
    top: 0;
}

.l-navbar__burger::after {
    top: 100%;
}

.l-navbar__line {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 2px;
    background-color: $color-bg-blue-3;
}



