#lightbox-overlay {
	background-color: $transparent-black-3;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: $z-lvl-4;
	user-select: none;

	@include bp(xlarge) {
		cursor: pointer;
	}

	#lightbox-image {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0;
		width: 90%;
		height: 100%;

		@include bp(large) {
			width: 80%;
		}
	}

	img {
		max-height: 100%;
		max-width: 100%;
	}

	#lightbox-exit {
		transition: opacity 0.8s;
		position: absolute;
		top: 40px;
		right: 40px;

		&:hover {
		  opacity: 0.7;
		}
	}
}
