// ==========================================================================
// # MOBILE MENU / STATIC
// ==========================================================================

.m-menu {
    display: none;
    position: absolute;
    width: 100%; 
}

.m-menu__container {
	background-color: $transparent-blue;
	border-radius: 0px 0px 6px 6px;
	padding: 20px 0;
}

.m-menu__list,
.m-menu__dropdown,
.m-menu__submenu,
.m-menu__pulldown {
    margin: 0;
    padding: 0;
}

.m-menu__item {
    margin-bottom: 16px;

    &:last-child {
        margin-bottom: 0;
    }
}

.m-menu__element {
    cursor: pointer;
}

.m-menu__link--active {
    font-weight: 600;
}

.m-menu__dropdown {
    margin-top: 7px;
}

.m-menu__dropdown,
.m-menu__submenu,
.m-menu__pulldown {
    display: none;
}

.m-menu__dropdown__link,
.m-menu__submenu__link,
.m-menu__pulldown__link { 
    padding: 10px 0;
    box-shadow: 0px 4px 4px $transparent-black;
}

.m-menu__dropdown__link {
	background-color: $transparent-blue-2;
}

.m-menu__submenu__link {
	background-color: $transparent-blue-3;
}

.m-menu__pulldown__link {
	background-color: $transparent-blue-4;
}

.m-menu__dropdown__link--active {
    background-color: transparent;
    font-weight: 600;
	box-shadow: none;
}
