// ======================================================================================================================
// # DROPDOWN TABS / GLOBAL
// ======================================================================================================================

.d-tab {
	.d-tab--active {
		.d-tab__arrow {
			transform: rotate(90deg)
		}
	}
}

