/* ==========================================================================
   #WRAPPER
   ========================================================================== */

/**
 * Page-level constraining and wrapping elements.
 */

body:not(.has-scrollbar) {
  .wrapper-stretched {
    width: 100vw !important;
    margin-left: calc(-50vw + 50%) !important;
    margin-right: calc(-50vw + 50%) !important;
    left: 0 !important;
  }
}

body.has-scrollbar {
  .wrapper-stretched {
    width: calc(100vw - var(--scroll-bar)) !important;
    margin-left: calc(-50vw + 50% + (var(--scroll-bar) / 2)) !important;
    margin-right: calc(-50vw + 50% + (var(--scroll-bar) / 2)) !important;
  }
}

.wrapper-basic {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  @include bp(medium) {
    padding-left: 40px;
    padding-right: 40px; 
  }

  @include bp(xlarge) {
    padding-left: 50px;
    padding-right: 50px;
  }

  @include bp(full) {
    padding-left: 60px;
    padding-right: 60px;
  }
}

.wrapper-full {
  max-width: 1300px;
  @extend .wrapper-basic;
}

.wrapper-small {
  max-width: 1000px;
  @extend .wrapper-basic;
}
